/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
/* Example: If you need to style a third party library that isn't tailwind compatible*/
.leaflet-container {
  height: 400px;
  width: 100%;
}
