/* src/app/recommendations.css */

.recommendations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes up full viewport height */
  background-color: #121212; /* Black background */
  color: #eee; /* Light gray text color */
  padding: 20px;
}

.recommendations-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #eee;
}

.recommendations-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive columns */
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.recommendation-card {
  background-color: #212121; /* Slightly lighter black background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recommendation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.recommendation-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #eee;
}

.recommendation-card button {
  background-color: #9c27b0; /* Purple button color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recommendation-card button:hover {
  background-color: #8e24aa; /* Slightly darker purple on hover */
}

.loading {
  /* ... your loading styles ... */
}
