/* src/app/style/Sidebar.css */

.sidebar {
  width: 250px; /* Reduced width */
  background-color: #212121; /* Dark background color */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.8); /* More pronounced shadow */
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: -250px; /* Start hidden off-screen */
  z-index: 20;
  transition: left 0.3s ease; /* Smooth transition for sliding */
}

/* Ensure the sidebar shows on hover */
.sidebar:hover {
  left: 0; /* Slide in when hovered */
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  right: -25px; /* Adjusted angled edge */
  border-top: 25px solid #212121; /* Match background color */
  border-left: 25px solid transparent;
}

/* Profile section and other styles remain the same */

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #714bb4; /* Darker border color */
  box-shadow: 0 5px 80px rgba(249, 59, 59, 0.5); /* More pronounced shadow */
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); /* Larger shadow on hover */
}

.profile-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); /* More pronounced shadow */
}

.profile-section p {
  font-size: 1rem;
  color: #bdbdbd; /* Light gray text */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar nav ul li a:active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(0);
  box-shadow: none;
}

.logout-button {
  margin-top: 10px;
  position: fixed;
  padding: 5px 60px;
  background-color: #d32f2f; /* Red */
  color: #fff;
  border: 4px solid #d32f2f; /* Red border */
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #251313;
  /* Darker red on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    left: -230px; /* Hide sidebar off-screen */
  }

  .sidebar:hover {
    left: 0; /* Show sidebar on hover */
  }
}
