/* src/app/style/Sidebar.css */

.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #283593, #3f51b5);
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: -250px;
  z-index: 20;
  transition: left 0.3s ease;
}

.sidebar::before {
  /* Add a pseudo-element for the angled edge */
  content: "";
  position: absolute;
  top: 0;
  right: -20px; /* Adjust the size of the angled edge */
  border-top: 20px solid #3f51b5; /* Match the end color of the gradient */
  border-left: 20px solid transparent;
}

.sidebar:hover {
  left: 0;
}

.sidebar.open {
  left: 0;
}

.notification {
  /* ... your notification styles ... */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #5e35b1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.1);
}

.profile-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.profile-section p {
  font-size: 1rem;
  color: #d1c4e9;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateX(5px);
}

.sidebar nav ul li a:active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(0);
}
.logout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d32f2f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
