/* src/app/dashboard.css */

.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #121212; /* Black background */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
}

.dashboard-content {
  flex: 1;
  padding: 10px;
  margin-left: 250px; /* Space for the sidebar */
  transition: margin-left 0.3s ease;
}

.upper-nav {
  /* Style for the upper section with the search component */
  background-color: #212121; /* Slightly lighter black */
  padding: 1rem 2rem;
  position: fixed; /* Ensure fixed positioning */
  right: 0;
  top: 0;
  left: 250px; /* Align with the main content area */
  width: calc(100% - 250px); /* Adjust width calculation */
  height: 80px; /* Fixed height */
  z-index: 5;
  transform: scale(1.1);
  /* Ensure it's above other elements */
}

.main-card {
  background-color: #141221;
  border-radius: 50px; /* Adjusted radius for better consistency */
  padding: 100px; /* Increased padding for better spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 80px; /* Adjusted top margin to account for the upper-nav */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .upper-nav {
    left: 0; /* Adjust left to 0 for smaller screens */
    width: 100%; /* Full width for smaller screens */
  }
}

/* Additional styling adjustments */
/* ... (adjust colors as needed) ... */
