body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #ffdee9 0%, #b5fffc 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 700px;
}

.register-container {
  justify-content: center;
}

.register-form {
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #333;
  outline: none;
}

.submit-button,
.login-button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover,
.login-button:hover {
  background: #555;
}

.error-message {
  color: red;
  margin-top: 10px;
}

select.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff
    url("data:image/svg+xml;utf8,<svg fill='gray' height='38' viewBox='0 0 24 24' width='38' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M7 10l5 5 5-5z'/></svg>")
    no-repeat right 10px top 50%;
}

select.form-input::-ms-expand {
  display: none;
}

.bg-green-100 {
  background-color: #d4edda;
}

.border-green-400 {
  border-color: #c3e6cb;
}

.text-green-700 {
  color: #155724;
}
